body{
    height: 100vh;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/seigaiha.png'); /* Background pattern from Toptal Subtle Patterns */ /*https://www.toptal.com/designers/subtlepatterns/seigaiha/*/
    margin: 0;
}

.pole{
    display: flex;
    user-select: none;
    width: 50px;
    height: 50px;
    margin: 1.25px;
    background-color: #9c04d8;
    border: solid 1px #110010;
    float: left;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

.pole2{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 1.25px;
    background-color: #04b8d8;
    border: solid 1px #110010;
    float: left;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#img_div{
    padding-bottom: 50px;
}

#counter{
    position: absolute;
    top: 200px;
    right: 200px;
    width: 100px;
    height: 50px;
    background-color: #9c04d8
}

#end{
    text-align: center;
    visibility: hidden;
    width: 400px;
    position: relative;
    left: -50vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 65px;
    opacity: 0;
}

#timer{
    width: 400px;
    height: 50px;
    background-color: #9c04d8;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.pole:hover{
    background-color: #72029e;
}
